<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsercategoryMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_USERCATEGORY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CATEGORY_NAME,
		PARENT_ID,	
		PROPORTION,	
		STATUS,	
		USERCATEGORY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CATEGORY_NAME},
		#{PARENT_ID},	
		#{PROPORTION},	
		#{STATUS},	
		#{USERCATEGORY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	 CATEGORY_NAME,
		PARENT_ID,	
		PROPORTION,	
		STATUS
		) values (
	#{CATEGORY_NAME},
		#{PARENT_ID},	
		#{PROPORTION},	
		#{STATUS}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			USERCATEGORY_ID = #{USERCATEGORY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		CATEGORY_NAME = #{CATEGORY_NAME},
			PARENT_ID = #{PARENT_ID},
			PROPORTION = #{PROPORTION},
			STATUS = #{STATUS},
		USERCATEGORY_ID = USERCATEGORY_ID
		where 
		USERCATEGORY_ID = #{USERCATEGORY_ID}
	</update>
	
	<!-- 修改 -->
	<update id="editProportion" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			
			PROPORTION = #{PROPORTION}
			
		USERCATEGORY_ID = USERCATEGORY_ID
		where 
		USERCATEGORY_ID = #{USERCATEGORY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			USERCATEGORY_ID = #{USERCATEGORY_ID}
	</select>
	
	<!-- 根据会员类型查出优惠比例-->
		<select id="queryProportion" parameterType="pd" resultType="Double">
		select PROPORTION
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where USERCATEGORY_ID =#{USERCATEGORY_ID}
	</select>
	
	<!-- 自己写的 查询所有category-->
	<select id="listAllCategory" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		
	</select>
	
	<!-- 自己写的 查询所有父category-->
	<select id="listAllParentCategory" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
		PARENT_ID = 0
		
	</select>
	<!-- 自己写的根据父category查所有子-->
	<select id="listChildCategoryByParent" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where
		PARENT_ID = #{PARENT_ID} 
		and STATUS = 0
		
	</select>
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					
					STATUS LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 
				
				)
		</if>
	</select>
	<!-- 列表自己写的 -->
	<select id="datalistPagenew" parameterType="page" resultType="pd">
		select
		a.USERCATEGORY_ID,
		a.CATEGORY_NAME,
		a.PARENT_ID,
		b.CATEGORY_NAME as PARENT_NAME,	
		a.PROPORTION,	
		a.STATUS
		from 
		TB_USERCATEGORY a LEFT JOIN TB_USERCATEGORY b
		on a.PARENT_ID = b.USERCATEGORY_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					a.STATUS LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					a.CATEGORY_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				     or
					b.CATEGORY_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.STATUS!=null and pd.STATUS !=''">
			and a.STATUS=#{pd.STATUS}	
		</if>
		
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			USERCATEGORY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
	<!-- fh313596790qq(青苔) -->
</mapper>