<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeChatUserStoredCardMapper">
	<resultMap type="weChatUserStoredCard" id="weChatUserStoredCardResultMap">
		<id property="cardId" column="cardId"/>
		<result property="phone" column="phone"/>
		<result property="remainMoney" column="remainMoney"/>
		<result property="remainPoints" column="remainPoints"/>
		<result property="name" column="name"/>
		<result property="status" column="status"/>
		<result property="password" column="password"/>
		<association property="user" javaType="WeChatUser">
			<id property="uId" column="uId"/>
			<result property="name" column="name"/>
			<result property="phone" column="phone"/>
		</association>
	</resultMap>
	
	<!-- 根据uId查询tb_custom_stored表中是否包含该用户 -->
	<select id="getUserStoredCardByUid" parameterType="java.lang.Integer" resultMap="weChatUserStoredCardResultMap">
		select
			userStoredCard.CARD_ID as cardId,
			userStoredCard.REMAIN_MONEY as remainMoney,
			userStoredCard.REMAIN_POINTS as remainPoints,
			userStoredCard.STATUS as status,
			userStoredCard.PASSWORD as password,
			user.UID as uId,
			user.NAME as name,
			user.PHONE as phone
		from
			TB_CUSTOM_STORED userStoredCard,
			TAB_USER user
		where
			userStoredCard.UID = user.UID
			and
			userStoredCard.UID = #{uId}
	</select>
	
	<!-- 创建一个新的储值账户 -->
	<insert id="createNewUserStoredCard" parameterType="WeChatUserStoredCard">
		insert into 
			TB_CUSTOM_STORED(PHONE,UID,REMAIN_MONEY,REMAIN_POINTS,NAME,STATUS,PASSWORD)
		values(#{user.phone},#{user.uId},#{remainMoney},#{remainPoints},#{user.name},#{status},#{password})
	</insert>
	
	<!-- 更新账户的密码信息 -->
	<update id="updateUserStoredCardPassword" parameterType="WeChatUserStoredCard">
		update
			TB_CUSTOM_STORED userStoredCard
		set
			userStoredCard.PASSWORD = #{password}
		where
			userStoredCard.CARD_ID = #{cardId}
	</update>
	
	<!-- 更新用户储值卡账户余额 -->
	<update id="updateUserStoredCardRemainMoneyAndPoints" parameterType="WeChatUserStoredCard">
		update
			TB_CUSTOM_STORED userStoredCard
		set
			userStoredCard.REMAIN_MONEY = #{remainMoney},
			userStoredCard.REMAIN_POINTS = #{remainPoints}
		where
			userStoredCard.CARD_ID = #{cardId}
	</update>
	
	<!-- 更新用户账户信息 -->
	<update id="updateUserStoredCardPhoneAndName" parameterType="WeChatUserStoredCard">
		update
			TB_CUSTOM_STORED userStoredCard
		set
			userStoredCard.PHONE = #{phone},
			userStoredCard.NAME = #{name}
		where
			userStoredCard.UID = #{uId}
	</update>
</mapper>